# Replace USER, PASSWORD, CLUSTER, SUBDOMAIN and DATABASENAME with your own values in order to build the MongoDB URI.
MONGO_URI="mongodb+srv://USER:PASSWORD@CLUSTER.SUBDOMAIN.mongodb.net/DATABASENAME?retryWrites=true&w=majority&appName=CLUSTER"