body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

.table th,
.table td {
    vertical-align: middle;
    text-align: center;
}

.card {
    margin: 10px;
    padding: 10px;
}

.imgProduct {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: block;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-text {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-fluid {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.personal-data {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}